{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills">
    {% for sks in skills %}
        <div class="title">{{sks.category}} skills</div>
        {% for sk in sks.skill%}
            <div class="skill">{{sk}}</div>
        {% endfor %}
    {% endfor %}
</section>
{% endif %}
